@import "../node_modules/bootstrap/scss/functions";

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

$primary: #4fd8eb;
$seconday: #1c3438;
$tertiary: #00363d;
$dark: #2a2a2a;
$surface: #191c1d;
$on-bg: #d2d2d2;

$custom-colors: (
    "primary": $primary,
    "seconday": $seconday,
    "tertiary": $tertiary,
    "dark": $dark,
    "surface": $surface,
    "on-bg": $on-bg,
);

$theme-colors: map-merge($map1: $theme-colors, $map2: $custom-colors);

@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap";


[data-bs-theme="blueTheme"] {
    --bs-body-color: var(--bs-white);
    --bs-body-color-rgb: #{to-rgb($white)};

    --bs-body-bg: var(--bs-dark);
    --bs-body-bg-rgb: #{to-rgb($dark)};

    body {
        overflow-x: hidden;
    }

    a {
        text-decoration: none;
    }

    .navbar {
        background-color: $surface;

        .navbar-brand {
            color: $primary;
        }

        .form-control {
            background-color: $tertiary;
        }

        .form-control::placeholder {
            color: $on-bg;
        }

        .navbar-toggler{
            border-color: $seconday;
        }

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28151, 240, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
        
        .nav-link {
            color: var(--bs-on-bg);
        }

        .active {
            color: var(--bs-white);
        }
    }

    .card-header {
        background-color: rgba($tertiary, 0.3);
    }

    .card {
        background-color: rgba($surface, 0.3);
        // background-color: $surface;
    }

    .carousel-caption {
        width: 100%;
        left: 0;
        bottom: 0;
        backdrop-filter: blur(2px);
    }
}